.section3-middle{
    background-color: #F7F7F7;
    height: 500px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.img-bg{
    height: 430px;
    width: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-div{
    position: relative;
    width: 68px;
    height: 68px;
    background-color: #fff;
    border-radius: 50%;
}
.Play91{
    position: absolute;
    left: 24px;
    top: 20px;
}
.outline3{
    position: absolute;
    width: 1200px;
    left: -20rem;
}