:root{
    --primary: #5B44F3;
    --secondary:#6204AC;
    --third:#E6E8FF;
}
.section3{
    margin-top: 3rem;
    /* height: 100vh; */
    margin-bottom: 200px;
    border: 3px solid red;
}
.section3-header{
  text-align: center;
  margin-bottom: 9rem;
}
.section3-header h2{
    font-size: 36px;
}
.section3-header p{
    font-size: 18px;
}
.row-container{
    position: relative;
}
.row-container .col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outline-div{
    position: relative;
}
.outline-div .outline3{
    position: absolute;
    top: -5rem;
    width: 85rem;
    left: -3rem;
}

.section3-second{
    width: 100px;
    height: 36px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: -6rem;
    left: 40rem;
    z-index: 2;
}
.restangle59{
    position: absolute;
    top: -5.5rem;
    left: 41rem;
    z-index: 1;
}
/* --star--- */
.star-container{
    position: absolute;
    height: 20px;
    background-color: aqua;
    top: 40rem;
    right: 8rem;
    z-index: 3;
}
.star-div{
    position: absolute;
    bottom: 3rem;
    right: -5rem;
}
.star-div2{
    position: absolute;
    bottom: 0rem;
    right: 5rem;
}
.star-div3{
    position: absolute;
    bottom: 0;
    right: -4rem;
}
.star1{
    position:absolute;
    left: +5px;
    top: +4px;
   
}
.star2{
    position:absolute;
    left: 0px;
    top: 0;
}

@media only screen and (max-width: 576px) {
    .section3 .outline-hidden{
        visibility: hidden;
    }
    .section3-header{
        margin-bottom: 2rem;
    }
    .section3-header h2{
        font-size: 2rem;
        font-weight: bold;
    }
    .section3-header p{
        font-size: 16px;
    }
    .section3 .col{
        margin: 1rem 0;
    }
    .section3{
        margin-top: 17rem;
        margin-bottom: 3rem;
    }
  }